.project-card-container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* Make this a flex container */
  align-items: start; /* Align items from the start */
  transition: box-shadow 0.3s ease; /* Hover effect */
}

.project-card-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Hover effect */
}

.project-card {
  display: flex; /* Make this a flex container */
  align-items: start;
  padding: 15px;
}

.project-info {
  flex: 1;
  padding: 15px;
  border-radius: 4px;
}

.icon-container {
  margin-right: 20px; /* Add right margin */
  text-align: center;
}

.icon-container img {
  max-width: 100px;
}

.project-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 18px;
  line-height: 1.5;
}

.tech {
  font-weight: bold;
  margin: 10px 0;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  font-size: 24px;
}
