#about-section {
  display: flex;
  flex-direction: column;
  margin: 40px 0; /* Added top and bottom margin */
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align content to the left */
}

.about-item {
  flex: 1;
  padding: 20px;
  color: #82A3A1; /* Darker font color for legibility */
  display: flex; /* Added */
  flex-direction: row; /* Added */
  align-items: center; /* Added */
}
