.bio {
  border-radius: 10px;
  text-align: left; /* Align text to the right */
  margin: auto;
  color: #82A3A1; /* Darker font color */
}

.bio-summary {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .bio {
    padding: 15px;
  }
  .bio-name {
    font-size: 20px;
  }
  .bio-contact {
    font-size: 12px;
  }
  .bio-summary {
    font-size: 14px;
  }
}
  
  @media (max-width: 768px) {
  .bio {
    max-width: 100%;
  }
}