.bio {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 80%;
    margin: auto;
    align-items: baseline;
}


.bio-summary {
  font-size: 20px;
  line-height: 2.0;

}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .bio {
    padding: 15px;
  }
  .bio-name {
    font-size: 20px;
  }
  .bio-contact {
    font-size: 12px;
  }
  .bio-summary {
    font-size: 14px;
  }
}
  
  @media (max-width: 768px) {
  .bio {
    max-width: 100%;
  }
}