.profile-pic {
  width: 300px;
  max-width: 300px;
  margin: 0;
  border-radius: 50%;
}

.profile-pic img {
  width: 300px;
  border-radius: 50%;
}

  
@media (max-width: 768px) {
  .profile-pic {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .profile-pic {
    max-width: 80px;
  }
}
  