.title-name {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #9FC490; /* Darker font color */
}

.title-contact {
  font-size: 20px;
  margin-bottom: 20px;
  color: #9FC490; /* Darker font color */
}
